{%extends 'base.html'%}
{%load static%}
{%load crispy_forms_tags%}
{%block link%}
    <link rel="stylesheet" href="{%static 'prof2.css'%}" />
{%endblock link%}
{%block title%}
  Удалить пост
{%endblock title%}
{%block content%}


{%endblock content%}

{%block text%}
<br>
{%for p in post%}
<div>
  <h1 class="left-c down-a"> <a class="un global-color" href="{%url 'info' p.id %}"> {{p.name}} </a></h1>
  <h4 class="left-c" >{{p.text}}</h4>
  
  <h5 class="left-c" >{{p.time}}</h5>
  <h5 class="left-c" >{{p.auth}}</h5>
  <a class="size-text-2 left-c"  href="{%url 'profalldell' p.id%}" >
    <form action="{%url 'profalldell' p.id%}" method="POST">
        {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger btn-lg">Удалить</button>
        </form>
  </a>
  <hr>
</div>
{%endfor%}
{%endblock text%}