{%extends 'base.html'%}
{%load static%}
{%load crispy_forms_tags%}
{%block title%}
  Ошибка
{%endblock title%}
{%block link%}
    <link rel="stylesheet" href="{%static 'prof.css'%}" />
{%endblock link%}
{%block content%}
<div class=" container top-container">
  <div class="page-title top-content">
    <div class="row"> 
      <h1 class="text-left left-b"><br><br><br><br><br>Вам нужно зайти в аккаунт для етого действия <br><br><br><br></h1>
    </div>
  </div>
</div>
{%endblock content%}
{%block text%}
{%endblock text%}